<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Categorias de arenas</title>
    <link rel="stylesheet" href="../css/styles.css" />
    <link rel="stylesheet" href="../css/loading.css" />
    <link rel="stylesheet" href="../css/grid.css" />
    <link rel="stylesheet" href="../css/spacing-utilities.css" />
    <link rel="stylesheet" href="../css/global.css" />
    <link rel="stylesheet" href="../css/navbar.css" />
    <link rel="stylesheet" href="../css/carrusel.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap"
      rel="stylesheet"
    />
    <style></style>
  </head>
  <body>
    <div class="fondo">
      <!-- NAVBAR -->
      <div
        id="navbar-placeholder"
        style="
          position: sticky !important;
          top: 0;
          z-index: 999;
          overflow: hidden;
        "
      ></div>

      <!-- filtro -->

      <div class="category-nav col-md-12 col-sm-12">
        <div class="fondo-category"></div>
        <div
          style="
            /*               width: 786px;
              height: 77px; */
            padding-top: 2rem;
            padding-bottom: 16px;
            justify-content: center;
            align-items: center;
          "
          id="category-buttons"
          class="filter-bar row"
        >
          <!-- 1 -->
          <a
            data-category="basica"
            class="pt-1 col-md-2 col-sm-5 text-center button-h4 cursor-pointer filter-button"
          >
            <h3 class="white-text my-0 bolder-text">Básica</h3>
            <h4 class="white-text my-0">Hey! y London Cats</h4>
          </a>
          <!-- 2 -->

          <a
            data-category="premium"
            class="pt-1 col-md-2 col-sm-5 text-center button-h4 cursor-pointer filter-button"
          >
            <h3 class="white-text my-0 bolder-text">Premium</h3>
            <h4 class="white-text my-0">Gatuna y Pipicat</h4>
          </a>
          <!-- 3 -->
          <a
            data-category="super"
            class="pt-1 col-md-2 col-sm-5 text-center button-h4 cursor-pointer filter-button"
          >
            <h3 class="white-text my-0 bolder-text">Super Premium</h3>
            <h4 class="white-text my-0">Pipicat</h4>
          </a>
          <!-- 4 -->
          <a
            data-category="black"
            class="pt-1 col-md-2 col-sm-5 text-center button-h4 cursor-pointer filter-button"
          >
            <h3 class="white-text my-0 bolder-text">Black</h3>
            <h4 class="white-text my-0">London Cats</h4>
          </a>
        </div>
      </div>

      <!-- carrusel -->
      <div class="carousel-container-2">
        <button id="prevBtn" class="carousel-arrow">&larr;</button>
        <div class="carousel-slide">
          <div id="page-loader">
            <div id="loader-slides">
              <img src="../assets/loading_novi/Container.svg" class="slide" />
              <img src="../assets/loading_novi/Container-1.svg" class="slide" />
              <img src="../assets/loading_novi/Container-2.svg" class="slide" />
              <img src="../assets/loading_novi/Container-3.svg" class="slide" />
            </div>
          </div>
          <div id="page-content" class="products-grid">
            <a id="carouselImageLink">
              <img id="carouselImage" alt="Imagen de arena" />
            </a>
          </div>
        </div>
        <button id="nextBtn" class="carousel-arrow">&rarr;</button>
        <div id="carouselDots" class="carousel-dots"></div>
      </div>
      <!-- Aquí irá la imagen extra (table.svg) -->

      <div
        class="row my-4"
        style="align-content: center; z-index: 2; position: relative"
      >
        <div class="cola-title"></div>
        <!-- title -->
        <!--         <div style="margin-top: 10rem; width: 100%"> -->
        <div class="col-sm-12 col-md-12 hero-content cate">
          <h1 class="my-0">
            Tabla comparativa de<br />
            <h2 class="my-0">arenas para gatos</h2>
          </h1>
        </div>
        <div style="width: 100%; justify-content: center; display: flex">
          <div id="special-container" class="special-image-container"></div>
        </div>
      </div>

      <div id="topbar-placeholder"></div>
    </div>
    <script type="module" src="../javascript/gallery.js"></script>
    <script type="module">
      import { addComponent, addNavFunc } from "../javascript/addComponents.js";
      // Espera a que el DOM esté completamente cargado antes de ejecutar el script

      // --- Adjuntar event listeners a los botones de filtro ---
      document.addEventListener("DOMContentLoaded", async () => {
        await addComponent("navbar-placeholder", "../components/navbar.html");
        addNavFunc();
        addComponent("topbar-placeholder", "../components/footer.html"); // ¿Footer en placeholder de topbar? Revisa esto.
      });
    </script>
  </body>
</html>
