@media (min-width: 770px) {
  .hero {
    height: 100vh;
    width: 100% !important;
    margin-top: -5rem;
    z-index: 1 !important;
  }
  .carousel-dots {
    position: relative !important;
    z-index: 20 !important;
  }
  .hero-content {
    width: 100%;
  }
  .hero-content h1 {
    font-size: 2.4rem;
    line-height: 20px;
  }
  .hero-content h2 {
    font-size: 2rem;
  }
  .icono {
    width: 10rem;
  }
  .icono img {
    width: 65px;
    height: 65px;
  }
  .iconos {
    margin-top: 3rem;
    margin-bottom: 2rem;
    /*   margin: 3rem 0; */
    justify-content: space-evenly;
  }

  /*  */

  /* Variante “salvaje” */
  .hero--salvaje {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 100%;
    text-align: end;
    margin-top: -4rem;
  }

  /* Imágenes lazy */

  /* Espacio entre imágenes y texto */
  /* .hero__img {
  max-width: 600px;
  width: 100%;
} */

  .hero-curve {
    height: 27rem;
    position: absolute;
    margin-top: -24rem;
    z-index: 0 !important;
    /* margin-right: -8rem; */
    width: 29rem;
    background-position: top !important;
  }
  .hero__text {
    padding-right: 3rem;
    z-index: 2 !important;
    width: 65%;
    flex-direction: column;
    display: flex;
    align-self: center;
  }

  h3.open {
    font-size: 3em;
    width: 100%;
    color: var(--Colors-Primary-700, #5f851b);
    font-family: Open Sans;
    font-weight: 400;
    line-height: 50px;

    word-wrap: break-word;
  }

  /*  */

  /* Variante “salvaje” */
  .hero--marca {
    /*     margin-top: -6rem; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 100%;
    height: 35rem;
  }
  /* styles.css */

  .lazy-img {
    padding: 0.3rem;
    width: 10rem;
    height: 9rem;
  }
  .fade-overlay {
    width: 20px;
  }

  /* origin */

  .fondo-category {
    background: url("https://stalwart-faloodeh-22bebe.netlify.app/public/assets/svg/categorias/fondo-category.svg")
      no-repeat;
    object-fit: contain;
    width: 100%;
    height: 26rem;
    position: absolute;
    overflow: hidden;
    background-position: bottom;
  }

  /* filtro bar */
  .filter-bar {
    text-align: center;
    /*   margin: 1rem 0; */
  }

  .filter-button {
    display: inline-block;
    margin: 0 0.5rem;
    padding: 0.5rem 1rem;
    background: #c0d92c;
    color: #fff;
    border-radius: 12px;
    cursor: var(--cursor-pointer);
    transition: background 0.2s;
  }
  .filter-button.active,
  .filter-button:hover {
    background: var(--Colors-Secondary-900, #364823);
    color: var(--Colors-Primary-100, #e8f5d0) !important;
  }
  /*   a.filter-button:not(.active) {
    margin: 0 1rem;
    font-size: 12px !important;
    line-height: 100% !important;
  } */
  .filter-button h4 {
    font-size: 12px !important;
    line-height: 200% !important;
  }
  .filter-button h3 {
    font-size: 20px !important;
    line-height: 200% !important;
  }
  .filter-button.active h4,
  .filter-button:hover h4 {
    font-size: 16px !important;
    line-height: 150% !important;
  }
  .filter-button.active h3,
  .filter-button:hover h3 {
    font-size: 20px !important;
    line-height: 150% !important;
  }

  .carousel-container-2 {
    position: relative;
    max-width: 1440px;
    margin: 0 5rem !important;
    overflow: hidden;
  }

  .carousel-slide {
    width: 100%;
    /*     padding-top: 34%;  */ /* 16:9 ratio */
    position: relative;
    /*   background: #eee; */
    border-radius: 18px;
  }
  carousel-image-wrapper .carousel-slide img {
    position: absolute;
    top: 0;
    border-radius: 18px;

    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
  .cola-title {
    background: url("https://stalwart-faloodeh-22bebe.netlify.app/public/assets/svg/categorias/line-title.svg")
      no-repeat;
    position: absolute;
    height: 17rem;
    width: 33%;
    top: 0;
    left: 0;
    background-position: left;
  }
}
