<div style="background: #c1d100" class="row">
  <div class="col-sm-12 col-md-12 pt-2 d-center row">
    <a href="/" class="px-2">
      <img
        src="https://stalwart-faloodeh-22bebe.netlify.app/public/assets/svg/logo.svg"
        height="40"
      />
    </a>
  </div>
  <div class="col-sm-12 col-md-12 d-center">
    <div class="navbar-collapse col-sm-12 col-md-4" id="navbarNav">
      <ul class="navbar">
        <li class="col-sm-2 p-1 d-center">
          <a
            href="https://wa.me/56964449251?text=Hola!%20Llege%20por%20la%20pagina%20de%20arenas%20para%20gatos"
          >
            <img
              src="https://stalwart-faloodeh-22bebe.netlify.app/public/assets/svg/iconos/redes/ws.svg"
              class="icon"
              height=""
            />
          </a>
        </li>
        <li class="col-sm-2 p-1 d-center">
          <a href="https://www.instagram.com/petwarehousechile/?hl=es">
            <img
              src="https://stalwart-faloodeh-22bebe.netlify.app/public/assets/svg/iconos/redes/ing.svg"
              class="icon"
              height=""
            />
          </a>
        </li>
        <li class="col-sm-2 p-1 d-center">
          <a
            href="https://web.facebook.com/p/Pet-Warehouse-CHILE-100054616623234/?locale=es_LA&_rdc=1&_rdr"
          >
            <img
              src="https://stalwart-faloodeh-22bebe.netlify.app/public/assets/svg/iconos/redes/face.svg"
              class="icon"
              height=""
            />
          </a>
        </li>
        <li class="col-sm-2 p-1 d-center">
          <a href="https://www.youtube.com/@pw_chile/videos">
            <img
              src="https://stalwart-faloodeh-22bebe.netlify.app/public/assets/svg/iconos/redes/you.svg"
              class="icon"
              height=""
            />
          </a>
        </li>
      </ul>
    </div>
  </div>
  <nav
    class="navbar col-sm-0"
    style="background: #9bbd77; justify-content: space-between"
  >
    <ul class="navbar__links">
      <li><a href="../views/categorias-de-arenas.html">Categorías</a></li>
      <li><a href="../views/marcas-de-arenas.html">Marcas</a></li>
      <li><a href="../views/tips-de-arenas.html">Tips</a></li>
    </ul>
    <ul class="navbar__links">
      <li>
        <a href="../views/hablemos-de-arenas.html" class="btn-contacto"
          >¡Hablemos!</a
        >
      </li>
    </ul>
  </nav>
</div>
