<div style="background: #c1d100">
  <nav class="navbar">
    <a href="/" class="px-2">
      <img src="../assets/svg/logo.svg" height="40" />
    </a>
    <ul class="navbar__links">
      <li><a href="../views/categorias-de-arenas.html">Categorías</a></li>
      <li><a href="../views/marcas-de-arenas.html">Marcas</a></li>
      <li><a href="../views/tips-de-arenas.html">Tips</a></li>
      <li>
        <a href="../views/hablemos-de-arenas.html" class="btn-contacto"
          >¡Hablemos!</a
        >
      </li>
    </ul>
    <button class="navbar__hamburger" aria-label="Abrir menú">&#9776;</button>
  </nav>

  <aside class="sidebar" aria-hidden="true">
    <button class="sidebar__close" aria-label="Cerrar menú">&times;</button>
    <ul class="sidebar__links">
      <li><a href="../views/categorias-de-arenas.html">Categorías</a></li>
      <li><a href="../views/marcas-de-arenas.html">Marcas</a></li>
      <li><a href="../views/tips-de-arenas.html">Tips</a></li>
      <li>
        <a href="../views/hablemos-de-arenas.html" class="btn-contacto"
          >¡Hablemos!</a
        >
      </li>
    </ul>
  </aside>
</div>
